<h1> User listing</h1>
<table>
  <tr>
    <th>firstname</th>
    <th>lastname</th>
    <th>age</th>
    <th>user</th>
    <th>email</th>
    <th>password</th>

  </tr>

  <% @user.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname  %></td>
        <td><%= user.age %></td>
        <td><%= user.user %></td>
        <td><%= user.email  %></td>
        <td><%= user.password %></td>

        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy',  { action: :destroy, id: user.id } %></td>

      </tr>
  <% end %>
